# EDA Using AutoViz

In [8]:
import pandas as pd
from autoviz.AutoViz_Class import AutoViz_Class

In [3]:
data = pd.read_csv("/home/hasan/Data Set/Heart Disease/heart.csv")

In [4]:
print("Shape of data is :", data.shape)
data.head(3)

Shape of data is : (303, 14)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

# EDA Using AutoViz

In [9]:
AV = AutoViz_Class()

In [11]:
data = data.copy()
df = AV.AutoViz(filename='', sep=',', depVar='target', dfte=data, header=0, verbose=2, lowess=False, chart_format='svg', max_cols_analyzed=30)

Shape of your Data Set: (303, 14)
############## C L A S S I F Y I N G  V A R I A B L E S  ####################
Classifying variables in data set...
Data Set Shape: 303 rows, 13 cols
Data Set columns info:
* age: 0 nulls, 41 unique vals, most common: {58: 19, 57: 17}
* sex: 0 nulls, 2 unique vals, most common: {1: 207, 0: 96}
* cp: 0 nulls, 4 unique vals, most common: {0: 143, 2: 87}
* trestbps: 0 nulls, 49 unique vals, most common: {120: 37, 130: 36}
* chol: 0 nulls, 152 unique vals, most common: {234: 6, 204: 6}
* fbs: 0 nulls, 2 unique vals, most common: {0: 258, 1: 45}
* restecg: 0 nulls, 3 unique vals, most common: {1: 152, 0: 147}
* thalach: 0 nulls, 91 unique vals, most common: {162: 11, 160: 9}
* exang: 0 nulls, 2 unique vals, most common: {0: 204, 1: 99}
* oldpeak: 0 nulls, 40 unique vals, most common: {0.0: 99, 1.2: 17}
* slope: 0 nulls, 3 unique vals, most common: {2: 142, 1: 140}
* ca: 0 nulls, 5 unique vals, most common: {0: 175, 1: 65}
* thal: 0 nulls, 4 unique vals, most common: {2: 166, 3: 117}
--------------------------------------------------------------------
    Numeric Columns: ['oldpeak']
    Integer-Categorical Columns: ['age', 'cp', 'trestbps', 'chol', 'restecg', 'thalach', 'slope', 'ca', 'thal']
    String-Categorical Columns: []
    Factor-Categorical Columns: []
    String-Boolean Columns: []
    Numeric-Boolean Columns: ['sex', 'fbs', 'exang']
    Discrete String Columns: []
    NLP text Columns: []
    Date Time Columns: []
    ID Columns: []
    Columns that will not be considered in modeling: []
    13 Predictors classified...
        This does not include the Target column(s)
        No variables removed since no ID or low-information variables found in data set
Time to run AutoViz (in seconds) = 17.423