In [1]:
import numpy as np
import pandas as pd

In [2]:
#Handling missing data
print('None in array')
val = np.array([1,None, 3,7])
print(val)
print(val.dtype)
print('printing another array with np.nan')
val2 = np.array([1,np.nan,5,2])
print(val2)
print(val2.dtype)
print('finding sum, min, max of val2')
print(val2.sum())
print(val2.min())
print(val2.max())
print('finding real sum, min, max of val2')
print(np.nansum(val2))
print(np.nanmin(val2))
print(np.nanmax(val2))
print('calculation with np.nan')
n = np.nan+4
print(n)
nn = np.nan*4
print(nn)
nnn = np.nan-4
print(nnn)

None in array
[1 None 3 7]
object
printing another array with np.nan
[ 1. nan  5.  2.]
float64
finding sum, min, max of val2
nan
nan
nan
finding real sum, min, max of val2
8.0
1.0
5.0
calculation with np.nan
nan
nan
nan

In [3]:
#np.nan and None in Series
print('np.nan and None in Series')
s = pd.Series([1,np.nan,2,None])
print(s)
print('exchange None in Series')
s = pd.Series(range(2), dtype=int)
print(s)
s[0]=None
print(s)

np.nan and None in Series
0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64
exchange None in Series
0    0
1    1
dtype: int64
0    NaN
1    1.0
dtype: float64

In [4]:
#function of Operating on Null Value

1. isnull()
2. notnull()
3. dropna()
4. fillna()

SyntaxError: invalid syntax (<ipython-input-4-38940e6a1afb>, line 3)

In [5]:
#detecting null value

s = pd.Series([1, np.nan, 'hello', None])
print(s)
print('use of isnull() function')
isnull = s.isnull()
print(a)
print('use of notnull() function')
notnull = s.notnull()
print(notnull)

0        1
1      NaN
2    hello
3     None
dtype: object
use of isnull() function

NameError: name 'a' is not defined

In [6]:
#dropping null value

s = pd.Series([1, np.nan, 'hello', None])
print(s)
print('use of dropna() function for dropping null value')
dropna = s.dropna()
print(dropna)
print('printing a DataFrame')
df = pd.DataFrame([[1, np.nan, 2],
[2, 3, 5],
[np.nan, 4, 6]])

print(df)
print('to drop null value from df')
to_drop = df.dropna()
print(to_drop)
print('to drop null value through rows')
to_drop = df.dropna(axis='rows')
print(to_drop)
print('to drop null value through columns')
to_drop = df.dropna(axis='columns')
print(to_drop)
print('keeping np.nan value to the df')
df[3] = np.nan
print(df)
print('to drop np.nan column')
drop_col = df.dropna(axis='columns', how='all')
print(drop_col)
print('to print minimum number of row')
drop_specific_null = df.dropna(axis='rows', thresh=3)
print(drop_specific_null)

0        1
1      NaN
2    hello
3     None
dtype: object
use of dropna() function for dropping null value
0        1
2    hello
dtype: object
printing a DataFrame
     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6
to drop null value from df
     0    1  2
1  2.0  3.0  5
to drop null value through rows
     0    1  2
1  2.0  3.0  5
to drop null value through columns
   2
0  2
1  5
2  6
keeping np.nan value to the df
     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN
to drop np.nan column
     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6
to print minimum number of row
     0    1  2   3
1  2.0  3.0  5 NaN

In [7]:
#Filling the null values

print('printing a Series with null value')
s = pd.Series([1,np.nan,2,None,3], index=list('abcde'))
print(s)
print('filling null value by zero(0)')
to_fill = s.fillna(0)
print(to_fill)
print('filling null value by 1')
to_fil = s.fillna(1)
print(to_fill)
print('forwarding fill')
to_fill = s.fillna(method='ffill')
print(to_fill)
print('backward fill')
to_fill = s.fillna(method='bfill')
print(to_fill)

print('printing DataFrame')
df = pd.DataFrame([[1, np.nan, 2],
[2, 3, 5],
[np.nan, 4, 6]])

print(df)
print("increasing null column")
df[3] = None
print(df)
print('filling the null column')
df = df.fillna(method='ffill', axis=1)
print(df)

printing a Series with null value
a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64
filling null value by zero(0)
a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64
filling null value by 1
a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64
forwarding fill
a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64
backward fill
a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64
printing DataFrame
     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6
increasing null column
     0    1  2     3
0  1.0  NaN  2  None
1  2.0  3.0  5  None
2  NaN  4.0  6  None
filling the null column
     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0